beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
filelock==3.15.4
fonttools==4.53.1
frozendict==2.4.4
fsspec==2024.6.1
html5lib==1.1
huggingface-hub==0.24.0
idna==3.7
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.1
multitasking==0.0.11
mwclient==0.10.1
numpy==1.26.4
oauthlib==3.2.2
packaging==24.1
pandas==2.2.2
pandas-stubs==2.2.2.240603
peewee==3.17.6
pillow==10.4.0
platformdirs==4.2.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
safetensors==0.4.3
six==1.16.0
soupsieve==2.5
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.42.4
types-pytz==2024.1.0.20240417
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
yfinance==0.2.41
