absl-py==2.1.0
astunparse==1.6.3
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.2
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.1
frozendict==2.4.4
fsspec==2024.6.1
gast==0.6.0
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.65.1
h5py==3.11.0
html5lib==1.1
huggingface-hub==0.24.0
idna==3.7
isort==5.13.2
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
ml-dtypes==0.4.0
msgpack==1.0.8
multitasking==0.0.11
mwclient==0.10.1
namex==0.0.8
neovim==0.3.1
numpy @ file:///private/tmp/numpy-20240206-5894-1wazl8/numpy-1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pandas==2.2.2
pandas-stubs==2.2.2.240603
peewee==3.17.6
pillow==10.4.0
platformdirs==4.2.2
protobuf==4.25.3
Pygments==2.18.0
pynvim==0.5.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
safetensors==0.4.3
setuptools==71.0.4
six==1.16.0
soupsieve==2.5
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
tf_keras==2.17.0
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.42.4
types-pytz==2024.1.0.20240417
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
Werkzeug==3.0.3
wheel @ file:///opt/homebrew/Cellar/python%403.12/3.12.3/libexec/wheel-0.43.0-py3-none-any.whl#sha256=80a49545e5e5ef2abeb79ec254447300d41dfb76914fc65efa6da8dd0a766052
wrapt==1.16.0
yfinance==0.2.41
